.text-colour {
    color: #4c4f69;
}

.background-colour {
    background-color: #dce0e8;
}

.highlight-colour {
    background-color: #b4befe;
}

.text-box {
    border: 0.2rem solid #b4befe;
    border-radius: 1rem;
    height: 10rem;
    background-color: #eff1f5;
}

.data-text {
    font-weight: 800;
    font-size: 2rem;
}

.btn:hover {
    background-color: #eff1f5;
}

body {
    font-family: "M PLUS 1", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
